* {
  margin: 0;
}

.container {
  padding-left: 5px !important;
  padding-right: 5px !important;
  margin-right: 5px;
  margin-left: 5px;
}

.country-selector {
  display: flex;
  padding-right: 35vw;
  padding-left: 35vw;
  padding-bottom: 2vh;
  padding-top: 1vh;
}

a {
  color: black !important;
}

.nav-tab-block {
  display: inline;
}